@font-face {
  font-family: 'Audex Regular';
  src: url('./Audex-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audex Italic';
  src: url('./Audex-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
