# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
.vscode
.kiro

# dependencies
/node_modules
/.pnp
.pnp.js
options.ts

# testing
/coverage

# production
/dist
/build

# WebpConverter folders
/ExternalScripts/WebpConverter/input
/ExternalScripts/WebpConverter/output
/ExternalScripts/WebpConverter/main

# KinopoiskApi 
/ExternalScripts/kinopoisk_api/movieIds.ts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
ExternalScripts/kinopoisk_api/config.ts
ExternalScripts/kinopoisk_api/config.js


