a, h1, h2, p {
  font-family: Arial Black, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  /*background-image: url(../main_image.jpg);*/
  background-color: #000 !important;
  /*background-repeat: no-repeat;*/
  /*background-position: top center;*/
  height: 100%;
}

.nav-tabs>li>a {
  border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #000;
  border: none;
}

.lucida_font {
  font-family: Lucida Console, monospace;
}

.century  {
  font: normal 100% 'century gothic', arial;
}

.white {
  color: white;
}

.margin-top-1 {
    margin-top: 1% !important;
}

.margin-top-2 {
    margin-top: 2% !important;
}

.wrapper {
  height: 100% ;
  background-color: black;
  border: solid 5px white;
  border-top: none;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/*Navigation components*/

.navbar-collapse {
  padding-left: 80px !important;
}

.nav-pills a {
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000 !important;
  background-color: #ffffff !important;
}

.nav-pills>li>a {
  margin: 4px 0 0 0;
  font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #fff;
  color: black;
  transition: ease 650ms ;
}

.line_5px {
  border-top: 5px solid white;
}

/*TopSwiper components*/

.top-menu {
  height: 330px;
  margin-top: 10px;
  cursor: grab;
}

.swiper-container {
  position: relative;
  z-index: 1;
  margin: 0px auto;
  overflow: hidden;
  list-style: none;
  padding: 0px;
}

.top-swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  height: 330px;
}

.top-swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  font-size: 12px;
}

.top-swiper-slide img {
  height: 250px;
  width: 100%;
  border-radius: 3px;
}

.top-swiper-slide h1 {
  font-size: 101%;
  font-weight: bold;
  padding-left: 2%;
  color: white;
  font-family: Lucida Console, monospace;
  margin: 5% 0 2% 0;
}

.top-swiper-slide p {
  padding-left: 2.5%;
  font-size: 90%;
  letter-spacing: 0.01em;
  color: white;
  font-weight: normal;
  font-family: Lucida Console, monospace;
}

.top-swiper-slide a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}

.top-swiper-slide a:hover {
  color: #d8d1d1;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

.film-swiper {
  width: 98%;
  margin: 0.5% 0 0 1%;
}

.opacity {
  transition: all 0.3s;
  opacity:1;
}

.opacity:hover {
  opacity:0.82;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
  background-color: white;
}

.swiper-pagination-bullet {
  background: #000;
  background-color: white;
}

/*Стили для части "о кинотеатре"*/

.about-img img {
    border: solid 1px white;
    width: 110%;
    margin-bottom: 10%;
}

.margin-minus-left  {
    margin-left: -1.7%;
}

.about-images  {
    margin-left: -1.7%;
}

.about-images img {
    border: solid 1px white;
    width: 110%;
    margin-bottom: 10%;
    border-radius: 3px;
}

/*Стили для rules*/

.rules h3, .rules h4 {
    font-family: Lucida Console, monospace !important;
    text-align: center;
    font-size: 140%
}

.rules p {
    font-family: Lucida Console, monospace !important;
    font-size: 89%;
    text-align: justify;
}

/*Advs*/

.info {
    margin-top: 7.8%;
}

.info img {
    width: 100%;
    height: 100%;
    border: solid 1px white;
    border-radius: 3px;
}

.sushi img {
    width: 100%;
    height: 100%;
    border: solid 1px white;
    border-radius: 3px;
    margin: 20px 0 20px 0;
}

@media (max-width: 1200px) {

  .logo {
    width: 19%;
    margin: -0.1% 0 1% 0;
  }

  .navbar_custom {
    height: 75px;
  }

  .navbar-collapse {
    padding-left: 30px !important;
  }

}

/*bottom swiper*/

.swiper_bar {
    color: white;
    width: 45%;
    padding: -20px 0 5px -20px;
    margin-left: 1.2%;
}

.swiper_bar>h2 {
    font-weight: bold;
    float: left;
    font-family: Arial Black, sans-serif
}

.bottom-swiper {
    padding: 0;
    width: 1160px;
    background-color: black;
    border-top: solid 5px white;
    border-left: solid 0.5px white;
    border-right: solid 0.5px white;
    margin: 0 0 0 -15px;
    cursor: grab;
}

.bottom-swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.bottom-swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    text-align: left;
    font-size: 14px;
    background: black;
}

.bottom-swiper-slide img {
    height: 360px;
    width: 100%;
    margin-top: 0.35px;
}

.bottom-swiper-slide h1 {
    font-size: 140%;
    font-weight: bold;
    padding-left: 2%;
}

.bottom-swiper-slide p {
    padding-left: 2%;
    font-size: 90%;
    letter-spacing: 0.02em;
    font: normal 100% 'century gothic', arial;
}

.bottom-swiper-slide a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.bottom-swiper-slide a:hover {
    color: #d8d1d1;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}

/*Стили для страницы с описаниями*/

.film_info img {
    width: 250px;
    height: auto;
    border: solid 1px white;
    border-radius: 8px;
    margin: 0 0 7% 12px;
}

.description_h {
    color: #e41b2b;
    margin-top: -4.5%;
    font-weight: bold;
    font-family: Arial Black, sans-serif;
}

.description_table {
    color: white;
    text-align: left;
    margin-bottom: 3%;
    font-family: Lucida Console, monospace;
}

.description_table td {
    padding: 0.7% 0 0.7% 0;
    text-align: justify;
}

.description_table td:nth-of-type(1) {
    width:170px;
    vertical-align: top;
}

.description {
    text-align: justify;
    color: white;
}

.embed-responsive {
    border: solid 1px white;
    border-radius: 2px;
    margin: 20px 0 30px 0;
}

/*footer*/

.footer {
    text-align: center;
    background-color: white;
    padding: 1.5%;
}

.footer a {
    color: black;
    text-decoration: none;
    font: normal 100% 'century gothic', arial;
}

.footer a:hover {
    color: #ff0000 !important;
    text-decoration: none;
}

@media (max-width: 992px), /*(max-width: 850px) and (max-height: 425px) and*/ {

  .logo {
    width: 21%;
    margin: 0 0 1% -1.5%;
  }

  .navbar_custom {
    height: 60px;
    border: solid 3px white;
    border-bottom: none;
  }

  .nav-pills>li>a {
    font-size: 85%;
    margin-bottom: -7px;
  }

  .nav>li>a {
    padding: 8px 6px;
  }

  .navigation {
    padding: 1% 0 0 3%;
  }

  .navbar-collapse {
    padding-left: 1% !important;
  }

}

@media (min-width: 768.2px) and (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .padding_15xs {
    padding-left: 18px;
    padding-right: 18px;
  }

  .logo {
    width: 150px;
    padding-right: 0;
  }

  .nav-pills {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-pills>li {
    width:auto;
  }

  .nav-pills>li>a {
    font-size: 80%;
    margin-bottom: -7px;
    padding: 10px 1px;
  }

  .navigation {
    padding: 0.4% 0 0 0;
    border-top: none !important;
    border-radius: 0px;
    border-width: 0px;
    position: fixed !important;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 52px;
  }

  .navbar-collapse {
    padding-right: 0 !important;
  }

}
