a, h1, h2, p {
  font-family: Arial Black, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  /*background-image: url(../main_image.jpg);*/
  background-color: #000 !important;
  /*background-repeat: no-repeat;*/
  /*background-position: top center;*/
  height: 100%;
}
.nav-tabs {
    border: none !important;
}

.nav-tabs>li>a {
  border: none !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: black !important;
  border: none !important;
}

.lucida_font {
  font-family: Lucida Console, monospace;
}

.century  {
  font: normal 100% 'century gothic', arial;
}

.white {
  color: white;
}

.margin-top-1 {
    margin-top: 1% !important;
}

.margin-top-2 {
    margin-top: 2% !important;
}

.wrapper {
  height: 100% ;
  background-color: black;
  border: solid 5px white;
  border-top: none;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/*Navigation components*/

.logo {
    width: 17%;
    margin-right: 1%;
    margin: -0.6% 0 1% 0;
}

.navbar_custom {
    background-color: #000;
    padding-top: 1%;
    margin-bottom: 0;
    border: solid 5px white;
    border-bottom: none;
    position: relative;
    height: 80px;
    padding:1% 0 0 2%;
    border-radius: 20px 20px 0 0;
}

.navbar-collapse {
  padding-left: 80px !important;
}

.nav-pills a {
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000 !important;
  background-color: #ffffff !important;
}

.nav-pills>li>a {
  margin: 4px 0 0 0;
  font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #fff;
  color: black;
  transition: ease 650ms ;
}

.line_5px {
  border-top: 5px solid white;
}

/*TopSwiper components*/

.top-menu {
  height: 330px;
  margin-top: 10px;
  cursor: grab;
}

/*.swiper-container {*/
/*  position: relative;*/
/*  z-index: 1;*/
/*  margin: 0px auto;*/
/*  overflow: hidden;*/
/*  list-style: none;*/
/*  padding: 0px;*/
/*}*/

.top-swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  height: 330px;
}

.top-swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  font-size: 12px;
}

.top-swiper-slide img {
  height: 250px;
  width: 100%;
  border-radius: 3px;
}

.top-swiper-slide h1 {
  font-size: 101%;
  font-weight: bold;
  padding-left: 2%;
  color: white;
  font-family: Lucida Console, monospace;
  margin: 5% 0 2% 0;
}

.top-swiper-slide p {
  padding-left: 2.5%;
  font-size: 90%;
  letter-spacing: 0.01em;
  color: white;
  font-weight: normal;
  font-family: Lucida Console, monospace;
}

.top-swiper-slide a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}

.top-swiper-slide a:hover {
  color: #d8d1d1;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

.swiper-pagination-bullet {
    color: white !important;
    background-color: white !important;
}

.film-swiper {
  width: 98%;
  margin: 0.5% 0 0 1%;
}

.opacity {
  transition: all 0.3s;
  opacity:1;
}

.opacity:hover {
  opacity:0.82;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
  background-color: white;
}

.swiper-pagination-bullet {
  background: #000;
  background-color: white;
}

/*Indexpage*/

.news {
    padding: 0 0 2% 3%;
    color: white;
}

.news h2 {
    font-family: Lucida Console, monospace;
    font-weight: bold;
    font-size: 230% !important;
}

.news p{
    padding: 1%;
    font-family: Lucida Console, monospace;
    font-size: 110% !important;
}

/*Стили для части "о кинотеатре"*/

.about-img img {
    border: solid 1px white;
    width: 110%;
    margin-bottom: 10%;
}

.margin-minus-left  {
    margin-left: -1.7%;
}

.about-images  {
    margin-left: -1.7%;
}

.about-images img {
    border: solid 1px white;
    width: 110%;
    margin-bottom: 10%;
    border-radius: 3px;
}

/*Стили для rules*/

.rules h3, .rules h4 {
    font-family: Lucida Console, monospace !important;
    text-align: center;
    font-size: 140%
}

.rules p {
    font-family: Lucida Console, monospace !important;
    font-size: 89%;
    text-align: justify;
}

/*Advs*/

.info {
    margin-top: 7.8%;
}

.info img {
    width: 100%;
    height: 100%;
    border: solid 1px white;
    border-radius: 3px;
}

.sushi img {
    width: 100%;
    height: 100%;
    border: solid 1px white;
    border-radius: 3px;
    margin: 20px 0 20px 0;
}

/*bottom swiper*/

.swiper_bar {
    color: white;
    width: 45%;
    padding: -20px 0 5px -20px;
    margin-left: 1.2%;
}

.swiper_bar>h2 {
    font-weight: bold;
    float: left;
    font-family: Arial Black, sans-serif
}

.bottom-swiper {
    padding: 0;
    width: 1160px;
    background-color: black;
    border-top: solid 5px white;
    border-left: solid 0.5px white;
    border-right: solid 0.5px white;
    margin: 0 0 0 -15px !important;
    cursor: grab;
}

.bottom-swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.bottom-swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    text-align: left;
    font-size: 14px;
    background: black;
}

.bottom-swiper-slide img {
    height: 360px;
    width: 100%;
    margin-top: 0.35px;
}

.bottom-swiper-slide h1 {
    font-size: 140%;
    font-weight: bold;
    padding-left: 2%;
}

.bottom-swiper-slide p {
    padding-left: 2%;
    font-size: 90%;
    letter-spacing: 0.02em;
    font: normal 100% 'century gothic', arial;
}

.bottom-swiper-slide a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.bottom-swiper-slide a:hover {
    color: #d8d1d1;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}

/*Стили для страницы с описаниями*/

.film_info img {
    width: 250px;
    height: auto;
    border: solid 1px white;
    border-radius: 8px;
    margin: 0 0 7% 12px;
}

.description_h {
    color: #e41b2b;
    margin-top: -4.5%;
    font-weight: bold;
    font-family: Arial Black, sans-serif;
}

.description_table {
    color: white;
    text-align: left;
    margin-bottom: 3%;
    font-family: Lucida Console, monospace;
}

.description_table td {
    padding: 0.7% 0 0.7% 0;
    text-align: justify;
}

.description_table td:nth-of-type(1) {
    width:170px;
    vertical-align: top;
}

.description {
    text-align: justify;
    color: white;
}

.embed-responsive {
    border: solid 1px white;
    border-radius: 2px;
    margin: 20px 0 30px 0;
}

/*SeansStyles*/

.seans {
    height: 100%;
}

.seans h1  {
    color: white;
    text-align: center;
}

.seans-menu {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 2.5%;
}

.seans-tabs {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px;
    font-size: 96%;
}

.seans-tabs>li>a  {
    padding: 7px 8px;
    border-radius: 4px 4px 4px 4px !important;
    font-weight: bold;
    color: white;
}

.table_custom {
    margin-top: 3%;
    font-family: Lucida Console, monospace;
    font-weight: bold;
    /*border: solid 2px white;*/
    border-radius: 5px;
    width: 100%;
    font-size: 100%;
    height: 500px;
}

.table_custom table, .table_custom td:nth-of-type(1), table th:nth-of-type(1) {
    width:8%;
    text-align: center;
}

.table_custom table, .table_custom td:nth-of-type(2), table th:nth-of-type(2) {
    width:48%;
}

.table_custom table, .table_custom td:nth-of-type(3), table th:nth-of-type(3) {
    width:12%;
    text-align: center;
    padding-right: 2%;
}

.table_custom th, .table_custom td {
    padding: 1.8% 0 1.8% 1%;
}

.table_head {
    background-color: #e41b2b !important;
    color: white !important;
    border-color: #ea2222 !important;
}

.table_head td {
    border-color: #ea2222 !important;
}

.table_white {
    color: black;
    background-color:white;
}

.table_gray {
    color: white;
    background-color: #2b2831;
}

.tab-pane p {
    color: white;
}

/*sushi*/

.sushi_page>div>.nav-tabs {
    border: 0px;
    font-weight: bold;
}

.sushi_page img{
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    border-radius: 3px;
}

/*.sushi-swiper-container {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    overflow: hidden;*/
/*    margin-bottom: 20px;*/
/*    cursor: grab;*/
/*}*/

/*.sushi-swiper-wrapper {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    transition-property: transform;*/
/*    box-sizing: content-box;*/
/*}*/

.sushi-swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    font-size: 12px;
}

.swiper-button-next {
    margin-right: 1%;
    color: black !important;
}

.swiper-button-prev {
    margin-left: 1%;
    color: black !important;
}

.swiper-pagination-fraction {
    margin-bottom: 35px;
    font-weight: bold;
}

/*footer*/

.footer {
    text-align: center;
    background-color: white;
    padding: 1.5%;
}

.footer a {
    color: black;
    text-decoration: none;
    font: normal 100% 'century gothic', arial;
}

.footer a:hover {
    color: #ff0000 !important;
    text-decoration: none;
}

@media (max-width: 1200px) {

    /*navigation  */

    .logo {
        width: 19% !important;
        margin: -0.1% 0 1% 0;
    }

    .navbar_custom {
        height: 75px;
    }

    .navbar-collapse {
        padding-left: 30px !important;
    }

    /*TopSwiper*/

    .top-menu {
        height: 282px;
        margin-top: 10px;
    }

    .film-swiper {
        margin: 0.5% 0 0 1%;
    }

    .top-swiper-wrapper {
        height: 282px;
    }

    .top-swiper-slide {
        font-size: 76%;
    }

    .top-swiper-slide img{
        height: 210px;
    }

    /*swiperBottom*/

    .bottom-swiper {
        width: 960px !important;
    }

    .bottom-swiper-slide img {
        width: 100%;
        height: 300px !important;
        margin-top: 0.5px;
    }

    .bottom-swiper-slide h1 {
        font-size: 115% !important;
        font-weight: bold;
        padding-left: 2%;
    }

    .bottom-swiper-slide p {
        padding-left: 2%;
        font-size: 78% !important;
        letter-spacing: 0.02em;
    }

    .info img {
        margin-top: 2%;
    }

    .swiper_bar h2 {
        font-size: 24px;
        margin-left: 1.2%;
    }

    /*index*/

    .news h2 {
        font-weight: bold;
        font-size: 175% !important;
    }

    .news p{
        padding: 1%;
        font-size: 85% !important;
    }

    /*seans*/

    .seans-tabs>li>a  {
        font-size: 84%;
        padding: 5px 4.5px !important;
    }

    .table_custom {
        height: 400px;
    }

    .table_custom th, .table_custom td {
        font-size: 85%;
    }

    /*cinema*/

    .film_info img {
        width: 100%;
        margin: 1% 0 0 7px;
    }

    .description_table {
        font-size: 85%;
    }

    .description_h h2 {
        font-size: 175%;
    }

    .description_h p {
        font-size: 95%;
    }

    .description {
        font-size: 85%;
    }

    /*sushi*/
    .sushi-tab {
        font-size: 90%;
    }
}

@media (max-width: 992px) /*(max-width: 850px) and (max-height: 425px) and*/ {

    .logo {
        width: 21% !important;
        margin: 0 0 1% -1.5%;
    }

    .navbar_custom {
        height: 64px;
        border: solid 3px white;
        border-bottom: none;
    }

    .nav-pills > li > a {
        font-size: 85%;
        margin-bottom: -2px;
    }

    .nav > li > a {
        padding: 8px 6px;
    }

    .navigation {
        padding: 1% 0 0 3%;
    }

    .navbar-collapse {
        padding-left: 1% !important;
    }

    .line_5px {
        border-top: solid 3px white;
    }

    .wrapper {
        border: solid 3px white;
        border-top: none;
    }

    /*SwiperTop*/

    .top-menu {
        height: 240px;
    }

    .film-swiper {
        margin: 0.5% 0 0 1%;
        height: 240px;
    }

    .top-swiper-slide {
        font-size: 72%;
    }

    .top-swiper-slide p {
        font-size: 87%;
    }

    .top-swiper-slide img {
        height: 170px;
        width: 100%;
        border-radius: 3px;
    }

    /*swiperBottom*/

    .bottom-swiper {
        border-top: solid 2px white;
        margin: 0 0 0 -15px;
        width: 745px !important;
        border-bottom: none;
    }

    .bottom-swiper-slide img {
        width: 100%;
        height: 220px !important;
        margin-top: 0.1px;
    }

    .bottom-swiper-slide h1 {
        font-size: 87% !important;
        font-weight: bold;
        padding-left: 2%;
        margin: 5% 0 4% 0;
    }

    .bottom-swiper-slide p {
        padding-left: 2%;
        font-size: 68% !important;
        letter-spacing: 0.02em;
    }

    .swiper_bar h2 {
        font-size: 20px;
        margin-left: 1.6%;
    }

    /*index*/

    .news h2 {
        font-weight: bold;
        font-size: 160% !important;
    }

    .news p{
        padding: 0.5%;
        font-size: 80% !important;
    }

    /*rules*/

    .rules h3, .rules h4 {
        font-size: 110%
    }

    .rules p {
        font-size: 75%;
    }

    /*seans*/
    .seans-menu {
        margin-top: 3.2%;
    }

    .seans-tabs>li>a  {
        font-size: 65%;
        padding: 3px 2px;
        margin-top: 5%;
    }

    .table_custom th, .table_custom td {
        font-size: 68%;
    }

    .table_custom {
        height: 300px;
    }

    /*cinema*/

    .film_info img {
        width: 100%;
        margin-top: 3%;
    }

    .description_h h2 {
        font-size: 135%;
    }

    .description_h p {
        font-size: 75%;
    }

    .description_table {
        font-size: 77%;
    }

    .description_table td:nth-of-type(1) {
        width:40%;
    }

    .description_table td:nth-of-type(2) {
        width:60%;
    }

    .description {
        font-size: 77%;
    }
    
    /*sushi*/

    .sushi_page ul>li>a {
        padding: 7px 6px;
    }

}

@media (min-width: 768.2px) and (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .padding_15xs {
    padding-left: 18px;
    padding-right: 18px;
  }

  .logo {
    width: 150px;
    padding-right: 0;
  }

  .nav-pills {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-pills>li {
    width:auto;
  }

  .nav-pills>li>a {
    font-size: 80%;
    margin-bottom: -7px;
    padding: 10px 1px;
  }

  .navigation {
    padding: 0.4% 0 0 0;
    border-top: none !important;
    border-radius: 0px;
    border-width: 0px;
    position: fixed !important;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 52px;
  }

  .navbar-collapse {
    padding-right: 0 !important;
  }

}
