.sushiSlider__container {
  display: flex;
  overflow: hidden;
  cursor: grab;
  padding: 1vw 0;
}

.changing {
  transition: 0.25s;
  pointer-events: none;
}

.sushiSlider {
  display: flex;
  height: 9vw;
  color: white;
  column-gap: 2vw;
  margin: 0 1px;
}

.sushiSlider__item {
  width: fit-content;
  white-space: nowrap;
  border-radius: 5vw;
  border: solid 2px white;
  background-color: black;
  padding: 0 1rem;
  font-size: 2.8vw;
}

.sushiSlider__item.active {
  background-color: white;
  color: black;
}
// .sushiSlider li {
//   width: fit-content !important;
// }
// .sushiSlider .splide__arrow svg {
//   fill: black;
// }

// .sushiSlider .splide__arrow:focus {
//   outline: black solid 2px !important;
// }

// .sushiSlider .splide__pagination__page.is-active {
//   background: black;
// }

// .sushiSlider .splide__pagination__page:focus {
//   outline: black solid 2px !important;
// }
