.sushiSlider__container {
  overflow: hidden;
  cursor: grab;
}

.sushiSlider {
  display: flex;
  height: 70px;
  color: white;
  // transition: 0.5s;
  // overflow: visible;
  // z-index: 100;
}

.sushiSlider__item {
  width: fit-content;
  white-space: nowrap;
  margin: 0.5rem;
  border-radius: 15px;
  border: solid 2px white;
  background-color: black;
  padding: 0 1rem;
}

.sushiSlider__item.active {
  background-color: white;
  color: black;
}
// .sushiSlider li {
//   width: fit-content !important;
// }
// .sushiSlider .splide__arrow svg {
//   fill: black;
// }

// .sushiSlider .splide__arrow:focus {
//   outline: black solid 2px !important;
// }

// .sushiSlider .splide__pagination__page.is-active {
//   background: black;
// }

// .sushiSlider .splide__pagination__page:focus {
//   outline: black solid 2px !important;
// }
