.swiper-container-bar {
  border-radius: $imagesBR;
  border: $border1px;
  height: 472px;
  margin: 2.5vw 0;
  overflow: hidden;
  position: relative;
  cursor: grab;
  width: 100%;
  @media ($mediaQuery1200) {
    height: 387px;
  }
  @media ($mediaQuery992) {
    height: 296px;
  }
  @media #{$mediaQueryMobile} {
    height: 50vw;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
