@import 'variables';

.selectedMovie {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
}
.selectedMovie--leftFr {
  margin: 0 15px 10px 0;
  grid-row: 1/3;
  @media (max-width: 767.8px),
    (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    grid-row: 1;
  }
  @media (max-width: 432px) {
    flex: 0.65;
  }
}
.selectedMovie--rightFr {
  grid-column: 2/4;
}
.descTrailer--grid {
  grid-column: 2/4;
  grid-row: 2;
  @media (max-width: 767.8px),
    (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    grid-column: 1/4;
  }
}

.selectedMovie__image {
  padding-bottom: 140%;
  @extend .imgContainer;
}

.selectedMovie__title {
  font-weight: bold;
  h2,
  p {
    color: #e41b2b;
    font-size: 110%;
  }
  h2 {
    margin-top: 0;
    font-size: 250%;
  }
}
// .description_h_200 {
//   margin-top: -2.5%;
//   font-weight: bold;
// }

.selectedMovie__table {
  text-align: left;
  margin-bottom: 3%;
}
.selectedMovie__table td {
  padding: 0.7% 0 0.7% 0;
  text-align: justify;
  vertical-align: top;
  &:nth-of-type(1) {
    width: 150px;
  }
}

.selectedMovie__description {
  text-align: justify;
}

@mixin mediaDesc($imgPT, $descHead, $descDate, $descTable, $descFS, $maxWidth) {
  @media (max-width: $maxWidth) {
    // .filmFlex1 {
    //   padding-top: $imgPT;
    // }

    .selectedMovie__title {
      h2 {
        font-size: $descHead;
      }
      p {
        font-size: $descDate;
      }
    }

    .selectedMovie__table {
      font-size: $descTable;
    }

    .selectedMovie__description {
      font-size: $descFS;
    }

    @if ($maxWidth <= 544px) {
      .description_table td {
        &:nth-of-type(1) {
          width: 28%;
        }
        &:nth-of-type(2) {
          width: 48%;
        }
      }
    }
  }
}

//1200px
@include mediaDesc(
  0,
  $descHead: 205%,
  $descDate: 90%,
  $descTable: 85%,
  $descFS: 85%,
  $maxWidth: 1200px
);

//992px
@include mediaDesc(
  1%,
  $descHead: 170%,
  $descDate: 75%,
  $descTable: 77%,
  $descFS: 77%,
  $maxWidth: 992px
);

//768px и меньше
@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .film_info {
    margin: 0 -15px 0 -15px !important;
  }

  .embed-responsive {
    margin: 3% 0 3% 0;
  }
}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i * 111.9px;
  $imgPT: 3.5% - 0.9% * $i;
  $descHead: 80% + 13% * $i;
  $descDate: 60% + 4% * $i;
  $descTable: 55% + 5% * $i;
  $descFS: 55% + 5% * $i;
  @include mediaDesc(
    $imgPT,
    $descHead,
    $descDate,
    $descTable,
    $descFS,
    $maxWidth
  );
}
