@import "variables";

.film_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filmFlex1 {
  flex: 1;
  padding: 0 3% 1% 1%;
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    padding-bottom: 4%;
    padding-left: 0;
    flex: 0.75;
  }
  @media (max-width: 432px) {
    flex: 0.65;
  }
  .descImg {
    position:relative;
    width:100%;
    padding-bottom: 140%;
    background-color: black;
    border: solid 1px white;
    border-radius: 8px;

    img {
      position:absolute;
      width:100%;
      height:100%;
      border-radius: 8px;
    }
  }
}

.filmFlex2 {
  width: 100%;
  flex: 2.3;
}

.description {
  text-align: justify;
  color: white;
}

.description_h {
  margin-top: -4.5%;
  font-weight: bold;
  h2, p {
    color: #e41b2b;
  }
}

.description_table {
  color: white;
  text-align: left;
  margin-bottom: 3%;
  font-family: $lusidaFont;

  td {
    padding: 0.7% 0 0.7% 0;
    text-align: justify;

    &:nth-of-type(1) {
      width: 170px;
      vertical-align: top;
    }
  }
}

@mixin mediaDesc($imgPT, $descHead, $descDate, $descTable, $descFS, $maxWidth) {

  @media (max-width: $maxWidth) {

    .filmFlex1 {
      padding-top: $imgPT;
    }

    .description_h {
      h2 {
        font-size: $descHead;
      }
      p {
        font-size: $descDate;
      }
    }

    .description_table {
      font-size: $descTable;
    }

    .description {
      font-size: $descFS;
    }

    @if ($maxWidth <= 544px) {
      .description_table td {
        &:nth-of-type(1) {
          width: 30%;
        }
        &:nth-of-type(2) {
          width: 48%;
        }
      }
    }
  }
}

//1200px
@include mediaDesc (0, $descHead: 175%,
$descDate: 95%, $descTable: 85%, $descFS: 85%, $maxWidth: 1200px);

//992px
@include mediaDesc (1%, $descHead: 135%,
$descDate: 75%, $descTable: 77%, $descFS: 77%, $maxWidth: 992px);

//768px и меньше
@media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .film_info {
    margin: 0 -15px 0 -15px !important;
  }

  .embed-responsive {
    margin: 3% 0 3% 0;
  }

}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i*111.9px;
  $imgPT: 3.5% - 0.9%*$i;
  $descHead: 80% + 13%*$i;
  $descDate: 60% + 4%*$i;
  $descTable: 55% + 5%*$i;
  $descFS: 55% + 5%*$i;
  @include mediaDesc ($imgPT, $descHead, $descDate, $descTable, $descFS, $maxWidth);
}
