@import "variables";

@media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .dropdown-menu-xs {
    width: 100%;
    padding-left: 10px;
    h4 {
      font-family: $arialFont;
      color: white;
      margin: 2% 0 2% 0;
    }
  }

  .film-swiper-xs {
    width: 98%;
    margin: 0.5% 0 0 1%;
    //opacity: 0;

    .swiper-wrapper {

      .swiper-slide {
        text-align: left;
        font-size: 11px;
        overflow: hidden;
        img {
          width: 100%;
          border-radius: 3px;
        }
        h1 {
          font-weight: bold;
          padding-left: 2%;
          font-family: $lusidaFont;
          margin: 5% 0 2% 0;
          white-space: nowrap;
          color: white;
        }
        p {
          padding-left: 2%;
          letter-spacing: 0.01em;
          font-family: $lusidaFont;
          color: white;
        }
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;

          h1:before {
            content: "";
            display: block;
            height: 20px;
            width: 72px;
            position: relative;
            left: 85%;
            top: 15px;
            margin-top: -20px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), black 25%)
          }
        }
      }
    }
  }
}

@mixin filmSwiperXS ($swiperHeight, $mainHeadFS, $mainHeadPL, $filmTitleFS, $filmDateFS, $maxWidth) {

  @media (max-width: $maxWidth) {
    .dropdown-menu-xs {
      height: $swiperHeight;
    }

    .dropdown-menu-xs h4 {
      font-size: $mainHeadFS;
      padding-left: $mainHeadPL;
    }

    .film-swiper-xs > .swiper-wrapper {
      height: $swiperHeight/1.1;
    }

    .film-swiper-xs>.swiper-wrapper>.swiper-slide img {
      height: $swiperHeight/1.35;
    }

    .film-swiper-xs>.swiper-wrapper>.swiper-slide h1 {
      font-size: $filmTitleFS;
    }

    .film-swiper-xs>.swiper-wrapper>.swiper-slide p {
      font-size: $filmDateFS;
    }
  }
}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i*112px;
  $swiperHeight: 162px + 37px*$i;
  $mainHeadFS: 65% + 11.25%*$i;
  $mainHeadPL: 3.5% - 0.375%*$i;
  $filmTitleFS: 75% + 9%*$i;
  $filmDateFS: 75% + 3%*$i;
  @include filmSwiperXS ($swiperHeight, $mainHeadFS, $mainHeadPL, $filmTitleFS, $filmDateFS, $maxWidth);
}

