.cinemaSlider {
  width: 100%;
  cursor: grab;
  height: auto;
}
.cinemaSlider__container {
  padding: 7px 7px 0 7px;
}
.cinemaSlider .swiper-slide {
  position: relative;
  z-index: 1;
}
.cinemaSlider img {
  height: 250px;
  width: 100%;
  border-radius: $imagesBR;
  position: relative;
  z-index: 1;
}
.cinemaSlider h1 {
  font-weight: bold;
  padding-left: 2%;
  margin: 5% 0 2% 0;
  white-space: pre;
  overflow: hidden;
  color: white;
}
.cinemaSlider h1::before {
  content: '';
  width: 20px;
  position: absolute;
  right: -2px;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(to right, transparent, black 100%);
}
.cinemaSlider p {
  padding-left: 2.5%;
  letter-spacing: 0.01em;
  color: white;
  font-weight: normal;
}
.cinemaSlider a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}
.sliderSlide * {
  transition: all 0.3s;
  cursor: pointer;
}
.sliderSlide:hover img {
  opacity: 0.85;
}
.sliderSlide:hover h1,
.sliderSlide:hover p {
  color: red;
}

.swiper-pagination-bullet {
  background: #000;
  background-color: white;
}
.cinemaSlider .swiper-pagination-bullets {
  bottom: 5px !important;
  @media (max-width: 992px) {
    bottom: 2px !important;
  }
}

@mixin filmSwiperDesktop($swiperHeight, $fontSizeH1, $fontSizeP, $imgHeight) {
  .cinemaSlider .swiper-wrapper {
    height: $swiperHeight;
  }
  .cinemaSlider h1 {
    font-size: $fontSizeH1;
  }
  .cinemaSlider p {
    font-size: $fontSizeP;
  }
  .cinemaSlider img {
    height: $imgHeight;
  }
}

@include filmSwiperDesktop(324px, 100%, 80%, 250px);

@media (max-width: 1200px) {
  @include filmSwiperDesktop(272px, 85%, 70%, 210px);
}

@media (max-width: 992px) {
  @include filmSwiperDesktop(224px, 70%, 58%, 170px);
}

@media #{$mediaQueryMobile} {
  .cinemaSlider {
    h4 {
      color: white;
      font-size: $titlesFS;
      margin: 1vw 0 1vw 15px;
    }
  }
  .cinemaSlider__container {
    padding: 0 15px 0 15px;
  }
  .cinemaSlider .swiper-wrapper {
    height: auto;
  }
  .cinemaSlider img {
    height: 34vw;
  }
  .cinemaSlider h1 {
    font-size: 2.4vw;
  }
  .cinemaSlider p {
    font-size: 2vw;
  }
  .swiper-pagination-bullet {
    display: none;
  }
}
