@import "variables";

.top-menu {
  margin-top: 10px;
  cursor: grab;
  height: auto;
}

.film-swiper {
  width: 98%;
  margin: 0.5% 0 0 1%;

  .swiper-wrapper {

    .swiper-slide {
      text-align: left;
      img {
        height: 250px;
        width: 100%;
        border-radius: 3px;
      }
      h1 {
        font-size: 101%;
        font-weight: bold;
        padding-left: 2%;
        font-family: $lusidaFont;
        margin: 5% 0 2% 0;
        white-space: pre;
        overflow: hidden;

        &:before {
          content: "";
          display: block;
          height: 20px;
          width: 72px;
          position: relative;
          left: 88%;
          margin-top: -20px;
          background-image:linear-gradient(to right, rgba(255, 255, 255, 0), black 25%)
        }
      }
    }
    .swiper-slide {
      p {
        padding-left: 2.5%;
        font-size: 90%;
        letter-spacing: 0.01em;
        color: white;
        font-weight: normal;
        font-family: $lusidaFont;
      }
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-weight: normal;

        &:hover {
          color: #d8d1d1;
          transition: all 0.3s;
          cursor: pointer;
          font-weight: normal;
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  background: #000;
  background-color: white;
}

@mixin topSwiper ($swiperHeight, $beforeElem, $fontSize, $imgHeight) {

  .film-swiper>.swiper-wrapper {
    height: $swiperHeight;
  }

  .film-swiper>.swiper-wrapper>.swiper-slide h1:before {
    top: $beforeElem;
  }

  .film-swiper>.swiper-wrapper>.swiper-slide {
    font-size: $fontSize;
  }

  .film-swiper>.swiper-wrapper>.swiper-slide img{
    height: $imgHeight;
  }
}

@include topSwiper (318px, 24px, 12px, 250px);

@media (max-width: 1200px) {
  @include topSwiper (270px, 21px, 76%, 210px);
}

@media (max-width: 992px) {
  .top-menu h4 {
      padding-left: 1.5%;
  }
  @include topSwiper (226px, 21px, 72%, 170px);
}

@media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .top-menu {
    width: 100%;
    padding-left: 10px;
    h4 {
      font-family: $arialFont;
      color: white;
      margin: 1% 0 2% 0;
    }
  }

  .swiper-pagination-bullet {
   display: none;
  }

  .film-swiper {
    width: 98%;
    margin: 0.5% 0 0 1%;

    .swiper-wrapper {

      .swiper-slide {
        text-align: left;
        font-size: 11px;
        overflow: hidden;
        img {
          width: 100%;
          border-radius: 3px;
        }
        h1 {
          font-weight: bold;
          padding-left: 2%;
          font-family: $lusidaFont;
          margin: 5% 0 2% 0;
          white-space: nowrap;
          color: white;
        }
        p {
          padding-left: 2%;
          letter-spacing: 0.01em;
          font-family: $lusidaFont;
          color: white;
        }
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;

          h1:before {
            content: "";
            display: block;
            height: 20px;
            width: 72px;
            position: relative;
            left: 85%;
            top: 15px;
            margin-top: -20px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), black 25%)
          }
        }
      }
    }
  }
}

@mixin filmSwiperXS ($swiperHeight, $mainHeadFS, $mainHeadPL, $filmTitleFS, $filmDateFS, $maxWidth) {

  @media (max-width: $maxWidth) {
    .top-menu {
      height: $swiperHeight;
    }

    .top-menu h4 {
      font-size: $mainHeadFS;
      padding-left: $mainHeadPL;
    }

    .film-swiper > .swiper-wrapper {
      height: $swiperHeight/1.1;
    }

    .film-swiper>.swiper-wrapper>.swiper-slide img {
      height: $swiperHeight/1.35;
    }

    .film-swiper>.swiper-wrapper>.swiper-slide h1 {
      font-size: $filmTitleFS;
    }

    .film-swiper>.swiper-wrapper>.swiper-slide p {
      font-size: $filmDateFS;
    }
  }
}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i*111.9px;
  $swiperHeight: 164px + 37px*$i;
  $mainHeadFS: 65% + 11.25%*$i;
  $mainHeadPL: 3.5% - 0.375%*$i;
  $filmTitleFS: 75% + 9%*$i;
  $filmDateFS: 75% + 3%*$i;
  @include filmSwiperXS ($swiperHeight, $mainHeadFS, $mainHeadPL, $filmTitleFS, $filmDateFS, $maxWidth);
}