@font-face {
  font-family: 'JostLocal';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Jost-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'JostLocal';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Jost-SemiBold.woff2') format('woff2');
}
