@font-face {
  font-family: 'Audex Regular';
  src: url('/src/SCSS/fonts/Audex-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audex Regular';
  src: url('/src/SCSS/fonts/Audex-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Audex Italic';
  src: url('/src/SCSS/fonts/Audex-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
