.footer {
  text-align: center;
  padding: 2%;
  background-color: var(--secondaryClr);
  a {
    color: var(--mainClr);
  }

  @media #{$mediaQueryMobile} {
    width: 100%;
    & a {
      font-size: $paragraphsFS;
    }
  }
}
