@import "variables";

.footer {
  text-align: center;
  //background-color: $linesColor;
  padding: 2%;

  a {
    //color: black;
    //text-decoration: none;
    font: normal 100% 'century gothic', arial;

    //&:hover {
    //  color: #ff0000;
    //}
  }
}



@for $i from 6 to -1 {
  $maxWidth: 320px + $i*111.9px;

  @media (max-width: $maxWidth) {
    .footer a {
      font-size: 73% + 3.33*$i;
    }
  }
}
