@import 'variables';

* {
  margin: 0;
  padding: 0;
}

a,
h1,
h2,
h4,
p {
  font-family: $arialFont;
  color: white;
}

h1 {
  font-weight: bold;
  @media (max-width: 1200px) {
    font-size: 30px;
  }
  @media (max-width: 992px) {
    font-size: 22px;
  }
}

a:focus {
  outline: none;
}

.lucida_font {
  font-family: $lusidaFont;
}

.vk_ref {
  text-decoration: underline;
}

.mainContainer {
  background: #ff060e;
  background-image: url('/Images/main_image2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  @media (max-width: 1200px) {
    background-size: 1600px 250px;
  }
  @media (max-width: 992px) {
    background-size: 1220px 200px;
  }
  @media (max-width: 767.5px),
    (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    background-image: none !important;
  }
}
.wrapper {
  height: 100%;
  border: $border5px;
  border-top: none !important;
  padding-bottom: 15px;
  @media (max-width: 992px) {
    border: $border3px;
  }
}

.space {
  position: relative;
  text-align: center;
  opacity: 1;
  height: 245px;

  @media (max-width: 992px) {
    height: 198px;
  }
  @media (max-width: 767.8px),
    (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    display: none;
  }
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}
.block {
  display: block;
}
.line_5px {
  border-top: $border5px;
  @media (max-width: 992px) {
    border-top: $border3px;
  }
}

.opacity_0 {
  opacity: 0;
  transition: ease 200ms;
}
.opacity_1 {
  opacity: 1;
  transition: ease 200ms;
}

.opacity {
  transition: all 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.82;
  }
}

.modal-dialog h4 {
  color: black;
}

// Для модальных окон
.nav-tabs > li > a {
  border: none !important;
}
//------------------------

.nav a:focus,
.nav a:hover {
  text-decoration: none;
  transition: ease 650ms;
}

.margin-top-1 {
  margin-top: 1%;
}
.margin-top-2 {
  margin-top: 2%;
}

@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: white;
  }

  //подкрутка
  .container {
    width: auto;
  }

  .col-sm-9 {
    width: 100% !important;
    float: none;
  }
  //подкрутка закончилась

  .padding_0xs {
    padding-left: 0;
    padding-right: 0;
  }

  .padding_15xs {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    background-color: black !important;
    border-width: 0;
  }

  .separator {
    height: 5px;
    background-color: #292e33;
    margin: 0 0 0 -15px;
  }

  .separator-xs {
    height: 5px;
    background-color: #292e33;
    margin: 0 -15px 0 -15px;
  }

  .line_5px {
    display: none;
  }
}
