* {
  margin: 0;
  padding: 0;
  font-family: $jostFont;
}
html {
  --mainClr: black;
  --secondaryClr: #ebece9;
  --movieTitlesClr: #e41b2b;
  --mobileSeparatorClr: #292e33;
  --htmlFontSize: 14px;

  background-color: var(--mainClr);
  font-size: var(--htmlFontSize);
  -webkit-tap-highlight-color: transparent;
}

hr {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: var(--secondaryClr);
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

p {
  color: var(--secondaryClr);
  margin: 0 0 10px;
}

button,
table {
  color: var(--secondaryClr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--secondaryClr);
}

.opacity_0 {
  opacity: 0;
  transition: ease 150ms;
}
.opacity_1 {
  opacity: 1;
  transition: ease 150ms;
}

// Флекс для прижатия футера к нижней части экрана
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

// Грид сетка для основного контента страниц
.mainContainer__content {
  display: grid;
  grid-template: 100% / repeat(4, 1fr);
}
.content__gridLeftItem--3fr {
  grid-column: 1/4;
  margin: 0 15px;
  @media #{$mediaQueryMobile} {
    grid-column: 1/5;
    margin: 0 15px;
  }
}
.content__gridRightItem--1fr {
  grid-column: 4/5;
  margin-right: 15px;
}
.content__gridLeftItem--1fr {
  grid-column: 1/2;
  margin: 0 15px;
}
.content__gridRightItem--3fr {
  grid-column: 2/5;
  margin-right: 15px;
  @media #{$mediaQueryMobile} {
    grid-column: 1/5;
    margin: 0 15px;
  }
}
//--------------------------------------

$backImgHeight: 245px;
$backImgHeight992: 200px;
.space {
  position: relative;
  opacity: 1;
  height: $backImgHeight;
  @media ($mediaQuery992) {
    height: $backImgHeight992;
  }
  @media #{$mediaQueryMobile} {
    display: none;
  }
}

.mainContainer {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% $backImgHeight + 1, 100%;
  height: 100%;
  background-color: var(--mainClr);
  @media ($mediaQuery992) {
    background-size: 100% $backImgHeight992 + 1, 100%;
  }
  @media #{$mediaQueryMobile} {
    background-image: none !important;
  }
}
.mainContainer--default {
  background-image: url('../images/main_image.jpg'),
    linear-gradient(#000000, #000000);
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  border-top: none !important;
  border-bottom: none !important;
  background-color: var(--mainClr);
  @extend %desktopBorders;
  @media #{$mediaQueryMobile} {
    border-width: 0;
  }
}

.separator {
  border-top: $border5px;
  margin-left: -1px;
  margin-bottom: 15px;
  @media ($mediaQuery992) {
    border-top: $border3px;
  }
}

.fill_button {
  border-radius: $buttonsBR;
  transition: all 0.4s;
  background: none;
  &:hover {
    color: var(--mainClr);
    box-shadow: inset 0 0 1.5em 2em var(--secondaryClr);
  }
  // клавиатура
  &:focus-visible {
    color: var(--secondaryClr);
    box-shadow: 0 0 0 0.15em var(--secondaryClr);
  }
  // все остальное
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.embed-responsive {
  position: relative;
  border: $border1px;
  border-radius: $imagesBR;
  overflow: hidden;
  @media #{$mediaQueryMobile} {
    margin: 0 0 3% 0;
  }
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: $imagesBR;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

@media #{$mediaQueryMobile} {
  .hidden-xs {
    display: none;
  }
  .separatorMobile {
    height: 5px;
    background-color: var(--mobileSeparatorClr);
  }
  .separatorMobile--index {
    margin: 0 -15px 0 -15px;
  }
  .separatorMobile--MB {
    margin-bottom: 2vw;
  }
}
