@import "variables";

.navigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  border: $border5px;
  @media (max-width: 992px) {
    border: $border3px;
  }
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    border-radius: 0;
    border-width: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
.navigation__default {
  border-radius: 20px 20px 0 0;
  border-color: $linesColor;
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    border-radius: 0;
    border-width: 0;
  }
}
.navigation__default a:hover, .navigation__default a.active {
  color: black !important;
  background-color: white !important;
}
.navigation__special {
  border-radius: 0;
  border-bottom: none;
}

.navigation__logo {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  flex: 1;
  img {
    width: 175px;
    @media (max-width: 1200px) {
      width: 150px;
    }
    @media (max-width: 992px) {
      width: 135px;
    }
  }
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    padding: 0.5% 0 0.5% 1.5%;
  }
}
.navigation__logo a:hover {
  background-color: transparent !important;
}
.navigation__logo__default {
  padding: 0.5% 0 0.5% 2%;
}
.navigation__logo__special {
  padding: 0.5% 0 0.5% 2%;
  @media (max-width: 1200px) {
    flex: 0.8;
  }
  @media (max-width: 992px) {
    flex: 0.7;
    padding: 0.5% 0 0.5% 1%;
  }
}

.navigation__menu {
  flex: 3.5;
  border-top: none;
  box-shadow: none;
}
.navigation__menu__default {
  padding-top: 1%;
}
.navigation__menu__special {
  padding-left: 2%;
  padding-top: 1%;
  @media (max-width: 1200px) {
    padding-left: 0;
  }
  @media (max-width: 992px) {
    padding-left: 2%;
  }
}
.navigation__menu__special__fsAdd-150 {
   padding-left: 13.5% !important;
   @media (max-width: 1200px) {
     padding-left: 7% !important;
   }
   @media (max-width: 992px) {
     padding-left: 7% !important;
   }
 }
.navigation__menu__special__fsAdd-200 {
  padding-left: 7% !important;
  @media (max-width: 1200px) {
    padding-left: 2% !important;
  }
  @media (max-width: 992px) {
    padding-left: 0 !important;
  }
}
.navigation__logo__special__fsAdd-150 {
  padding-top: 1.5%;
  padding-left: 10%;
  @media (max-width: 1200px) {
    padding-top: 2%;
    padding-left: 7%;
  }
  @media (max-width: 992px) {
    padding-top: 2%;
    padding-left: 5%;
  }
  & img {
    width: 235px;
    @media (max-width: 1200px) {
      width: 235px;
    }
    @media (max-width: 992px) {
      width: 200px;
    }
  }
}
.navigation__logo__special__fsAdd-200 {
  padding-top: 1.5%;
  padding-left: 5%;
  @media (max-width: 1200px) {
    padding-top: 2.5%;
    padding-left: 1.5%;
  }
  @media (max-width: 992px) {
    padding-top: 3.5%;
  }
  & img {
    width: 300px;
    @media (max-width: 1200px) {
      width: 265px;
    }
    @media (max-width: 992px) {
      width: 200px;
    }
  }
}

.navigation__menu ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    justify-content: space-between;
    padding: 0 1.5%;
  }
}
.navigation__menu li {
  margin: 1.5% 0.5%;
}
.navigation__menu a {
  font-weight: 900;
  border-radius: 5px;
  padding: 9px 14px;
  text-decoration: none;
  @media (max-width: 992px) {
    font-size: 85%;
    padding: 8px 6px;
  }
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    padding: 10px 4.5px;
  }
}
.navigation__menu a:hover {
  transition: ease 650ms;
}

@mixin navigationXS ($navigationHeight, $logoWidth, $menuFS) {
  .navigation {
    height: $navigationHeight;
  }
  .line_container {
    margin-top: $navigationHeight;
  }
  .navigation__logo img {
      width: $logoWidth;
  }
  .navigation__menu a {
    font-size: $menuFS;
  }
}

@media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  @include navigationXS (55px, 140px, 80%);
}

@media (max-width: 656px) {
  @include navigationXS (50px, 125px, 68%);
}

@media (max-width: 544px) {
  .navigation {
    flex-direction: column;
  }
  @include navigationXS (97px, 120px, 72%);
}

@media (max-width: 432px) {
  @include navigationXS (90px, 110px, 60%);
}

@media (max-width: 365px) {
  @include navigationXS (82px, 100px, 50%);
}