.navigation {
  // height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  border: $border5px;
  @media (max-width: 992px) {
    border: $border3px;
  }
}
.navigation__default {
  border-radius: 20px 20px 0 0;
  border-color: $linesColor;
}
.navigation__default a:hover,
.navigation__default a.active {
  color: black !important;
  background-color: white !important;
}
.navigation__special {
  border-radius: 0;
  border-bottom: none;
}

.navigation__logo {
  text-decoration: none;
  flex: 1;
  align-self: center;
  margin-left: 2%;
  img {
    width: 175px;
    @media (max-width: 1200px) {
      width: 150px;
    }
    @media (max-width: 992px) {
      width: 135px;
    }
  }
}
.navigation__logo a:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}
.navigation__logo__special {
  @media (max-width: 1200px) {
    flex: 0.8;
  }
  @media (max-width: 992px) {
    flex: 0.7;
  }
}

.navigation__menu {
  flex: 3.5;
}
.navigation__menu__default {
  margin: 1% 0;
}
.navigation__menu__special {
  margin-left: 2%;
  margin-top: 1%;
  @media (max-width: 1200px) {
    margin-left: 0;
  }
  @media (max-width: 992px) {
    margin-left: 2%;
  }
}

.navigation__menu__special__fsAdd-150 {
  padding-left: 13.5% !important;
  @media (max-width: 1200px) {
    padding-left: 7% !important;
  }
  @media (max-width: 992px) {
    padding-left: 7% !important;
  }
}
.navigation__menu__special__fsAdd-200 {
  padding-left: 7% !important;
  @media (max-width: 1200px) {
    padding-left: 0 !important;
  }
  @media (max-width: 992px) {
    padding-left: 0 !important;
    margin-left: 0;
  }
}
.navigation__logo__special__fsAdd-150 {
  margin-left: 10%;
  @media (max-width: 1200px) {
    margin-left: 7%;
  }
  @media (max-width: 992px) {
    margin-left: 5%;
  }
  & img {
    width: 235px;
    @media (max-width: 1200px) {
      width: 235px;
    }
    @media (max-width: 992px) {
      width: 200px;
    }
  }
}
.navigation__logo__special__fsAdd-200 {
  margin-left: 3%;
  @media (max-width: 1200px) {
    margin-left: 1%;
  }
  & img {
    width: 300px;
    @media (max-width: 1200px) {
      width: 265px;
    }
    @media (max-width: 992px) {
      width: 200px;
    }
  }
}

.navigation__menu ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.navigation__menu li {
  margin: 1.5% 0.5%;
}
.navigation__menu a {
  border-radius: $buttonsBR;
  padding: 9px 14px;
  text-decoration: none;
  font-size: 120%;
  @media (max-width: 1200px) {
    font-size: 110%;
  }
  @media (max-width: 992px) {
    font-size: 95%;
    padding: 8px 6px;
  }
}
.navigation__menu a:hover {
  transition: ease 650ms;
}

@media #{$mediaQueryMobile} {
  .navigation {
    border-radius: 0;
    border-width: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 8.5vw;
    @media (max-width: 544px) {
      height: 19vw;
      flex-direction: column;
    }
  }
  .line_container {
    margin-top: 8.5vw;
    @media (max-width: 544px) {
      margin-top: 19vw;
    }
  }

  .navigation__logo {
    margin-left: 1%;
    align-self: flex-start;
    img {
      width: 21vw;
      margin-top: 0.5vw;
      @media (max-width: 544px) {
        width: 25vw;
      }
    }
  }
  .navigation__menu__default {
    align-self: center;
    @media (max-width: 544px) {
      align-self: stretch;
    }
    @media (max-width: 390px) {
      margin-top: 0;
    }
  }
  .navigation__menu ul {
    top: 0;
    justify-content: space-between;
    &:first-child {
      padding-left: 0.4%;
    }
    &:last-child {
      padding-right: 0.4%;
    }
  }
  .navigation__menu a {
    padding: 1.8vw 0.5vw;
    font-size: 1.85vw;
    @media (max-width: 544px) {
      font-size: 2.3vw;
    }
  }
}
