.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--mainClr);
  @extend %desktopBorders;
}
.navigation a.active {
  color: var(--mainClr) !important;
  background-color: var(--secondaryClr) !important;
}
.navigation--default {
  // border-radius: 20px 20px 0 0;
}
.navigation--special {
  border-radius: 0;
  border-bottom: none;
}
.navigation--fs150 {
  .navigation__menu {
    flex: 1.8;
    @media ($mediaQuery1200) {
      flex: 1.5;
      li {
        margin: 1.7% 0.5%;
      }
    }
  }
  .navigation__logo {
    text-align: right;
    img {
      width: 60%;
      @media ($mediaQuery992) {
        width: 170px;
      }
    }
  }
}
.navigation--fs200 {
  .navigation__menu {
    flex: 2;
  }
  .navigation__logo {
    text-align: right;
    img {
      width: 90%;
      @media ($mediaQuery992) {
        width: 220px;
      }
    }
  }
}

.navigation__logo {
  text-decoration: none;
  flex: 1;
  align-self: center;
  margin-left: 2%;
  img {
    width: 70%;
  }
}
.navigation__logo a:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}
.navigation__logo--special {
  @media ($mediaQuery1200) {
    flex: 0.8;
    img {
      width: 90%;
    }
  }
  @media ($mediaQuery992) {
    flex: 0.7;
  }
}

.navigation__menu {
  flex: 3.5;
  margin: 1% 0;
}
.navigation__menu ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.navigation__menu li {
  margin: 1.5% 0.5%;
}
.navigation__menu a {
  border-radius: $buttonsBR;
  padding: 9px 11px;
  text-decoration: none;
  font-size: 1.2rem;
  @media ($mediaQuery1200) {
    font-size: 1.05rem;
  }
  @media ($mediaQuery992) {
    font-size: 0.86rem;
    padding: 8px 6px;
  }
}
// .navigation__menu a:hover {
//   transition: ease 600ms;
// }

@media #{$mediaQueryMobile} {
  .navigation {
    border-radius: 0;
    border-width: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 8.5vw;
    @media (max-width: 544px) {
      height: 19vw;
      flex-direction: column;
    }
  }
  .navigation__containerXs {
    margin-top: 8.5vw;
    @media (max-width: 544px) {
      margin-top: 19vw;
    }
  }

  .navigation__logo {
    margin-left: 1%;
    align-self: flex-start;
    img {
      width: 21vw;
      margin-top: 0.5vw;
      @media (max-width: 544px) {
        width: 25vw;
      }
    }
  }
  .navigation__menu {
    align-self: center;
    @media (max-width: 544px) {
      align-self: stretch;
    }
    @media (max-width: 390px) {
      margin-top: 0;
    }
  }
  .navigation__menu ul {
    top: 0;
    justify-content: space-between;
    &:first-child {
      padding-left: 0.4%;
    }
    &:last-child {
      padding-right: 0.4%;
    }
  }
  .navigation__menu a {
    padding: 1.8vw 0.5vw;
    font-size: 1.85vw;
    @media (max-width: 544px) {
      font-size: 2.3vw;
    }
  }
}
