.news {
  text-align: justify;
}
.news h1 {
  margin: 2% 0 1% 5px;
  @extend %desktopTitlesFS;
}
.index__h1--special {
  margin-top: 0 !important;
}
.news p {
  margin: 2% 1% 0 1.5%;
}
.news a {
  margin: 0 1%;
}
.news p,
.news a {
  @extend %desktopParagraphsFS;
}

.ref {
  text-decoration: underline;
  transition: ease 0.3s;
  &:hover {
    color: red;
  }
  &:focus {
    color: red;
  }
}
.vk_ref {
  &:hover {
    color: rgb(45, 140, 230) !important;
  }
  &:focus {
    color: rgb(45, 140, 230) !important;
  }
}

//Реклама справа в десктопной версии
.desktopAdv {
  @extend %imgContainer;
  margin-bottom: 7%;
  transition: ease 300ms;
}
.linkWrapper:focus .desktopAdv {
  @include shiftUp;
}
.desktopAdv--1 {
  padding-bottom: 50%;
}
.desktopAdv--2 {
  padding-bottom: 66.6%;
}
.desktopAdv--3 {
  padding-bottom: 150%;
}
.desktopAdv--4 {
  padding-bottom: 197.45%;
}
.desktopAdv--5 {
  padding-bottom: 99.3%;
  cursor: pointer;
  & img {
    transition: ease 300ms;
  }
  & img:hover {
    opacity: 0.85;
  }
}
//------------------------

@media #{$mediaQueryMobile} {
  .trailers {
    h4 {
      font-size: $mobileTitlesFS;
      margin: 0 0 1vw 0;
      color: var(--secondaryClr);
    }
    .embed-responsive {
      margin: 2% 0 2% 0;
    }
  }
  .news {
    h1 {
      font-size: $mobileTitlesFS;
      margin: 1vw 0 1vw 0;
    }
    p {
      font-size: $mobileParagraphsFS;
      margin: 0 0 1.5% 0.5%;
    }
    a {
      font-size: $mobileParagraphsFS;
    }
  }

  //реклама на главной странице в мобильной версии
  .indexAdvXS {
    display: flex;
    justify-content: space-around;
  }

  .indexAdvXS__item1 {
    flex-basis: 49%;
    padding: 2.5vw 1% 2.5vw 0;
  }
  .indexAdvXS__item1_2 {
    flex-basis: 49%;
    padding: 2.5vw 0 2.5vw 1%;
  }
  .indexAdvXS__item2 {
    flex-basis: 59%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5vw 0 2.5vw 2%;
  }
}

.indexAdvXS__item1__imgCont {
  @extend %imgContainer;
  @media #{$mediaQueryMobile} {
    min-height: 70vw;
  }
}
.indexAdvXS__item2__imgCont {
  @extend %imgContainer;
  @media #{$mediaQueryMobile} {
    min-height: 28vw;
  }
}
