.news {
  text-align: justify;
}
.news h1 {
  margin: 2% 0 1% 5px;
  @extend %titlesFS;
}
.index__h1--special {
  margin-top: 0 !important;
}
.news p {
  margin: 2% 1% 0 1.5%;
}
.news p,
.news a {
  margin: 2% 1% 0 1.5%;
  font-size: 1.35rem;
  @media (max-width: 1200px) {
    font-size: 1.15rem;
  }
  @media (max-width: 992px) {
    font-size: 0.95rem;
  }
}
.ref {
  text-decoration: underline;
  transition: ease 0.3s;
  &:hover {
    color: red;
  }
}
.vk_ref {
  &:hover {
    color: rgb(45, 140, 230) !important;
  }
}

//Реклама справа в десктопной версии
.desktopAdv {
  @extend %imgContainer;
  margin-bottom: 8%;
  transition: ease 300ms;
}
.linkWrapper img {
  transition: all 0.3s;
}
.linkWrapper:focus .desktopAdv {
  @include shiftLeft;
}
.desktopAdv--1 {
  padding-bottom: 50%;
}
.desktopAdv--2 {
  padding-bottom: 66.6%;
}
.desktopAdv--3 {
  padding-bottom: 200%;
}
//------------------------

@media #{$mediaQueryMobile} {
  .trailers {
    h4 {
      font-size: $titlesFS;
      margin: 0 0 1vw 0;
      color: var(--secondaryClr);
    }
    .embed-responsive {
      margin: 2% 0 2% 0;
    }
  }
  .news {
    h1 {
      font-size: $titlesFS;
      margin: 1vw 0 1vw 0;
    }
    p {
      font-size: $paragraphsFS;
      margin: 0 0 1.5% 0.5%;
    }
    a {
      font-size: $paragraphsFS;
    }
  }

  //реклама на главной странице в мобильной версии
  .indexAdvXS {
    display: flex;
    justify-content: space-around;
  }
  .indexAdvXS__item1 {
    padding: 2.5% 2% 2.5% 0;
    img {
      width: 100%;
      border-radius: $imagesBR;
      border: $border1px;
    }
  }
  .indexAdvXS__item2 {
    display: flex;
    flex-direction: column;
    padding: 2.5% 0 2.5% 2%;
    img {
      width: 100%;
      border: $border1px;
      border-radius: $imagesBR;
      margin-bottom: 10%;
    }
  }

  //реклама на остальных страницах в мобильной версии
  .advXS {
    margin: 3% 0 3.7% 0;
  }
  .advXS__img {
    @extend %imgContainerXs;
    padding-bottom: 13%;
  }
}
