@import "variables";

.embed-responsive {
  border: $border1px;
  border-radius: 2px;
  margin: 20px 0 20px 0;
  @media (max-width: 992px) {
    margin: 20px 0 20px 0;
  }
}

.news {
  padding: 0 0 2% 3%;
  color: white;
  text-align: justify;
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    padding: 1%;
  }
}
.news h2 {
  font-family: $lusidaFont;
  font-weight: bold;
  font-size: 230%;
  @media (max-width: 1200px) {
    font-size: 175%;
  }
  @media (max-width: 992px) {
    font-size: 160%;
  }
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 1.5%;
  }
}
.news p {
  font-family: $lusidaFont;
  padding: 1%;
  font-size: 135%;
  @media (max-width: 1200px) {
    font-size: 115%;
  }
  @media (max-width: 992px) {
    padding: 0.5%;
    font-size: 95%;
  }
  @media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 95%;
  }
}


//Реклама справа в десктопной версии
.desktopAdv {
  position: relative;
  width: 100%;
  background-color: black;
  border: $border1px;
  border-radius: 3px;
  margin: 7.8% 0;
  @media (max-width: 1200px) {
    margin-top: 10%;
  }
  @media (max-width: 992px) {
    margin-top: 13%;
  }
}
.desktopAdv img {
  position:absolute;
  width:100%;
  height:100%;
  border-radius: 3px;
}
.desktopAdv--1 {
  padding-bottom: 50%;
}
.desktopAdv--2 {
  padding-bottom: 66.6%;
}
.desktopAdv--3 {
  padding-bottom: 200%;
}
//------------------------

.barNewImages {
  display: flex;
  justify-content: space-between;
  margin: 1.5% -1.8%;
}
.barNew__title {
  margin-top: 0;
}
.barNewImage {
  flex: 1;
  padding: 0.5% 1.5%;
}
.barNewImage__container {
  position: relative;
  background-color: black;
  border: solid 1px white;
  padding-bottom: 80%;
}
.barNewImage__img {
  position:absolute;
  width:100%;
  height:100%;
}

.swiper_bar {
  color: white;
  width: 45%;
  margin-left: 3%;
  h2 {
    font-weight: 900;
    @media (max-width: 1200px) {
      font-size: 24px;
    }
    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
}

@media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .trailers {
    background-color: black;
    padding-bottom: 1%;
    h4 {
      font-family: $arialFont;
      padding-left: 1%;
      color: white;
    }
    .embed-responsive {
      margin: 2% 0 2% 0;
    }
  }

  //реклама на главной странице в мобильной версии
  .indexAdvXS {
    display: flex;
    justify-content: space-around;
  }
  .indexAdvXS__item1 {
    padding: 2.5% 2% 2.5% 4%;
    img {
      width: 100%;
      border: $border1px;
    }
  }
  .indexAdvXS__item2 {
    display: flex;
    flex-direction: column;
    padding: 2.5% 4% 2.5% 2%;
    img {
      width: 100%;
      border: $border1px;
      margin-bottom: 10%;
    }
  }
  //------------------------------

  //реклама на остальных страницах в мобильной версии
  .advXS {
    margin: 3% 0 3.7% 0;
    background-color: black;
  }
  .advXS__img {
    position: relative;
    width: 100%;
    background-color: black;
    border: $border1px;
    border-radius: 3px;
    padding-bottom: 13%;
  }
  .advXS__img img {
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 3px;
  }
  //------------------------------
}

@mixin indexXS ($trailersHeadFS, $trailersHeadPL, $newsFS, $maxWidth) {

  @media (max-width: $maxWidth) {

    .trailers h4 {
      font-size: $trailersHeadFS;
      padding-left: $trailersHeadPL;
    }
    .news {
      font-size: $newsFS;
    }
  }
}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i*111.9px;
  $trailersHeadFS: 65% + 11.25%*$i;
  $trailersHeadPL: 3.5% - 0.375%*$i;
  $newsFS: 60% + 10%*$i;
  @include indexXS ($trailersHeadFS, $trailersHeadPL, $newsFS, $maxWidth);
}