.rules h3 {
  text-align: center;
  font-size: 1.6rem;
  &:first-child {
    margin-top: 0;
  }
  @media (max-width: 992px) {
    font-size: 1.1rem;
  }
  @media #{$mediaQueryMobile} {
    font-size: $mobileTitlesFS;
    margin: 1vw 0 1vw 0;
  }
}
.rules p {
  text-align: justify;
  @extend %desktopParagraphsFS;
  @media #{$mediaQueryMobile} {
    font-size: $mobileParagraphsFS;
  }
}

//"О кинотеатре"
.aboutImages {
  display: flex;
  justify-content: space-between;
}
.aboutImages__image {
  @extend %imgContainer;
  margin: 0.5% 2% 2% 2%;
  padding-bottom: 15%;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @media #{$mediaQueryMobile} {
    padding-bottom: 30%;
  }
}
