@import 'variables';

.seanse__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  > button {
    border: 2px solid;
    outline: none;
    padding: 8px 15px;
    margin: 2px 6px;
    font-size: 115%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 1200px) {
      padding: 8px 12px;
      font-size: 92%;
    }
    @media (max-width: 992px) {
      font-size: 75%;
      padding: 4px 8px;
      margin: 2px 4px;
    }
  }
}

.seanse__buttons .active {
  color: black;
  background-color: $linesColor;
}
// .seans-tabs button:hover {
//   color: black;
//   background-color: $linesColor;
// }

.seanse__table {
  margin-top: 3%;
  width: 100%;
  overflow: hidden;
  border-radius: $imagesBR;
  th,
  td {
    padding: 2.7% 0;
    &:nth-of-type(1) {
      width: 8%;
      text-align: center;
    }
    &:nth-of-type(2) {
      width: 48%;
    }
    &:nth-of-type(3) {
      width: 12%;
      text-align: center;
    }
  }
  * {
    font-size: 110%;
    @media (max-width: 1200px) {
      font-size: 105%;
    }
    @media (max-width: 992px) {
      font-size: 95%;
    }
  }
}
.table_head {
  background-color: #e41b2b;
  color: white;
}
.table_white {
  color: black;
  background-color: white;
}
.table_gray {
  color: white;
  background-color: #2b2831;
}

@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .seans_button_xs {
    padding: 2% 2% 2% 4.5%;
    margin: 1vw 0;
    background-color: black;
    border: solid 2px white;
    color: white;
    border-radius: $buttonsBR;
    width: 100%;
    outline: none !important;
  }
  .seans_button_xs:hover {
    background-color: black !important;
    border-color: red !important;
    color: red !important;
    transition: ease 650ms;
  }
  // .seans_button_xs:focus {
  //   border: solid 2px white;
  //   background-color: black;
  //   color: white;
  // }
  .seans_button_xs__title {
    font-size: 2.8vw;
  }
  .glyphicon-chevron-down {
    float: right;
    margin-top: 0.5%;
  }

  .seanse__table {
    margin-top: 2.1vw;
    * {
      font-size: $paragraphsFS;
    }
  }

  .popper {
    z-index: 2;
  }
  .popper__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
  }
  .popper__content {
    border: solid white 2px;
    border-radius: $buttonsBR;
    color: white;
    background-color: black;
    position: relative !important;
    width: auto;
    margin: 30vh 2% 0 2%;
    z-index: 5;
  }
  .popper li {
    justify-content: center;
    border-bottom: solid 1px;
    margin: 0 10px;
    font-size: $paragraphsFS;
    &:last-child {
      border-bottom: none !important;
    }
  }
  .popper li.active {
    color: red;
  }
  .popper__seance li {
    min-height: 10vw !important;
  }
  .MuiList-padding {
    padding: 0 !important;
  }
}
