@import 'variables';

.seans-menu {
  margin-top: 3.2%;
}

.fill_button {
  border-radius: $buttonsBR;
  transition: ease 0.3s;
  background: none;
  &:hover {
    color: black;
    box-shadow: inset 0 0 1.5em 2em white;
  }
}

.seans-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  > button {
    border: 2px solid;
    outline: none;
    padding: 8px 15px;
    margin: 2px 6px;
    font-size: 115%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 1200px) {
      padding: 8px 12px;
      font-size: 92%;
    }
    @media (max-width: 992px) {
      font-size: 75%;
      padding: 4px 8px;
      margin: 2px 4px;
    }
  }
}

.seans-tabs .active {
  color: black;
  background-color: $linesColor;
}
// .seans-tabs button:hover {
//   color: black;
//   background-color: $linesColor;
// }

.table_custom {
  margin-top: 3%;
  width: 100%;
  font-size: 115%;
  overflow: hidden;
  border-radius: $imagesBR;
  @media (max-width: 1200px) {
    font-size: 92%;
  }
  @media (max-width: 992px) {
    font-size: 75%;
  }
}

@mixin seansTable($leftColumnW, $centerColumnW, $rightColumnW, $paddingRight) {
  @if ($leftColumnW != null) {
    .table_custom table,
    .table_custom td:nth-of-type(1),
    table th:nth-of-type(1) {
      width: $leftColumnW;
      text-align: center;
    }
  }

  @if ($centerColumnW != null) {
    .table_custom table,
    .table_custom td:nth-of-type(2),
    table th:nth-of-type(2) {
      width: $centerColumnW;
    }
  }

  @if ($rightColumnW != null) {
    .table_custom table,
    .table_custom td:nth-of-type(3),
    table th:nth-of-type(3) {
      width: $rightColumnW;
      text-align: center;
      padding-right: $paddingRight;
    }
  }
}

@include seansTable(8%, 48%, 12%, 2%);

.table_custom th,
.table_custom td {
  padding: 2.7% 0 2.7% 1%;
  // padding: 1.8% 0 1.8% 1%;
}

.table_head {
  background-color: #e41b2b;
  color: white;
  border-color: #ea2222;
}

.table_white {
  color: black;
  background-color: white;
}

.table_gray {
  color: white;
  background-color: #2b2831;
}

@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .seans_button_xs__title {
    font-weight: 900;
  }

  .table_custom {
    width: 100%;
    margin: 2% 0 4% 0;
  }

  .seans-tab-xs {
    font-size: 90%;
  }

  .popper {
    margin-top: 16px;
    border: solid white 2px;
    border-radius: $buttonsBR;
    color: white;
    background-color: black;
  }
  .popper li {
    justify-content: center;
    border-bottom: solid 1px;
    margin: 0 10px;
    &:last-child {
      border-bottom: none !important;
    }
  }
  .popper li.active {
    color: red;
  }
  .popper__seance {
    z-index: 2;
    position: fixed !important;
    top: 25% !important;
    left: 3% !important;
    width: 94%;
  }
  .popper__seance li {
    min-height: 40px !important;
  }
  .MuiList-padding {
    padding: 0 !important;
  }
}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i * 111.9px;
  $tableFontSize: 48%+9% * $i;
  $buttonTitleFontSize: 75%+6% * $i;

  @media (max-width: $maxWidth) {
    .table_custom {
      font-size: $tableFontSize;
    }
    .seans_button_xs__title {
      font-size: $buttonTitleFontSize;
    }
  }
}

@media (max-width: 544px) {
  @include seansTable(null, null, 13%, 0.5%);
}

@media (max-width: 432px) {
  @include seansTable(null, null, 16%, 0.5%);
}
