@import "variables";

.seans-menu {
  margin-top: 3.2%;
}

.seans-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: $arialFont;
  margin: 0 -9px;
  > button {
    background-color: black;
    border: none;
    outline: none;
    padding: 7px 9px;
    // 2px нужно для отступов сверху и снизу, чтобы кнопки не сливались при 200% шрифте
    margin: 2px 9px;
    text-align: left;
    border-radius: 5px;
    @media (max-width: 1200px) {
      font-size: 75%;
    }
    @media (max-width: 992px) {
      font-size: 62%;
      padding: 4px 4.4px;
    }
  }
}
.seans-tabs .active {
  color: black;
  background-color: $linesColor;
}
.seans-tabs button:hover {
  color: black;
  background-color: $linesColor;
  transition: ease 600ms;
}

.table_custom {
  margin-top: 3%;
  font-family: $lusidaFont;
  font-weight: 900;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  @media (max-width: 1200px) {
    height: 400px;
    font-size: 85%;
  }
  @media (max-width: 992px) {
    height: 300px;
    font-size: 68%;
  }
}

@mixin seansTable($leftColumnW, $centerColumnW, $rightColumnW, $paddingRight) {

  @if ($leftColumnW != null) {
    .table_custom table, .table_custom td:nth-of-type(1), table th:nth-of-type(1) {
      width: $leftColumnW;
      text-align: center;
    }
  }

  @if ($centerColumnW != null) {
    .table_custom table, .table_custom td:nth-of-type(2), table th:nth-of-type(2) {
      width: $centerColumnW;
    }
  }

  @if ($rightColumnW != null) {
    .table_custom table, .table_custom td:nth-of-type(3), table th:nth-of-type(3) {
      width: $rightColumnW;
      text-align: center;
      padding-right: $paddingRight;
    }
  }
}

@include seansTable(8%, 48%, 12%, 2%);

.table_custom th, .table_custom td {
  padding: 1.8% 0 1.8% 1%;
}

.table_head {
  background-color: #e41b2b;
  color: white;
  border-color: #ea2222;
}

.table_white {
  color: black;
  background-color: white;
}

.table_gray {
  color: white;
  background-color: #2b2831;
}

@media (max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {

  .seans_button_xs__title {
    font-weight: 900;
  }

  .table_custom {
    width: 100%;
    min-height: 350px;
    margin: 2% 0 4% 0;
  }

  .seans-tab-xs {
    font-size: 90%;
  }
}

@for $i from 4 to -1 {
  $maxWidth: 320px + $i*111.9px;
  $tableFontSize: 48%+9%*$i;
  $buttonTitleFontSize: 75%+6%*$i;

  @media (max-width: $maxWidth) {
    .table_custom {
      font-size: $tableFontSize;
    }
    .seans_button_xs__title {
      font-size: $buttonTitleFontSize;
    }
  }
}

@media (max-width: 544px) {
  @include seansTable(null, null, 13%, 0.5%);
}

@media (max-width: 432px) {
  @include seansTable(null, null, 16%, 0.5%);
}