.selectedMovie {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
}
.selectedMovie--fullFr {
  grid-column: 1/4;
}
.selectedMovie--leftFr {
  margin: 0 15px 10px 0;
  grid-row: 1/3;
  @media #{$mediaQueryMobile} {
    grid-row: 1/2;
  }
}
.selectedMovie--rightFr {
  grid-column: 2/ 4;
}
.descTrailer--grid {
  grid-column: 2/4;
  grid-row: 2;
  @media #{$mediaQueryMobile} {
    grid-column: 1/4;
  }
}

.selectedMovie__image {
  aspect-ratio: 3/4;
  // padding-bottom: 140%;
  position: relative;
  container-type: size;
  width: 100%;
  // border: $border1px;
  border-radius: $imagesBR;
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.selectedMovie__ageRating {
  position: absolute;
  top: 4cqw;
  left: 4cqw;
  background-color: rgba(222, 5, 5, 0.832);
  color: white;
  padding: 2cqw 3cqw; 
  font-size: 7cqw;
  border-radius: 4px;
  font-weight: 500;
}

.selectedMovie__pirateBanner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dc2626;
  color: white;
  padding: 0.5cqw 1cqw;
  font-size: 5cqw;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
}

.selectedMovie__title {
  h2 {
    margin-top: 0;
    color: var(--movieTitlesClr);
    @extend %desktopTitlesFS;
  }
  p {
    color: var(--movieTitlesClr);
    @extend %desktopParagraphsFS;
  }
}

.selectedMovie__table {
  text-align: left;
  margin-bottom: 3%;
}
.selectedMovie__table td {
  padding: 0.7% 0 0.7% 0;
  text-align: justify;
  vertical-align: top;
  &:nth-of-type(1) {
    width: 33%;
  }
  &:nth-of-type(2) {
    width: 67%;
  }
  @extend %desktopParagraphsFS;
}

.selectedMovie__description {
  text-align: justify;
  @extend %desktopParagraphsFS;
}

@media #{$mediaQueryMobile} {
  // .selectedMovie__image {
  //   padding-bottom: 35vw;
  // }
  .selectedMovie__title {
    h2 {
      font-size: $mobileTitlesFS !important;
    }
    p {
      font-size: $mobileParagraphsFS !important;
    }
  }
  .selectedMovie__table td {
    &:nth-of-type(1) {
      width: 26%;
    }
    &:nth-of-type(2) {
      width: 50%;
    }
  }
  .selectedMovie__table {
    td,
    tr,
    th {
      font-size: $mobileParagraphsFS;
    }
  }
  .selectedMovie__description {
    font-size: $mobileParagraphsFS;
  }
}
