// Свайпер "сегодня в кино"
@import 'swiperBottom';
// Свайпер со всеми фильмами
@import 'splide';

.swSlide__img,
.swSlide__h1,
.swSlide__p {
  transition: all 0.3s;
  cursor: pointer;
}

.swSlide__a:hover {
  & .swSlide__img {
    opacity: 0.85;
  }
  & .swSlide__h1,
  .swSlide__p {
    color: red;
  }
}
.swSlide__a:focus-visible {
  & .swSlide__img {
    opacity: 0.85;
  }
  & .swSlide__h1,
  .swSlide__p {
    color: red;
  }
}

// color: var(--secondaryClr);
