// Свайпер со всеми фильмами
@import 'filmSwiper';
// Свайпер "сегодня в кино"
@import 'swiperBottom';

.swSlide__img,
.swSlide__h1,
.swSlide__p {
  transition: all 0.3s;
  cursor: pointer;
}

.swSlide__a:hover {
  & .swSlide__img {
    opacity: 0.85;
  }
  & .swSlide__h1,
  .swSlide__p {
    color: red;
  }
}
.swSlide__a:focus-visible {
  & .swSlide__img {
    opacity: 0.85;
  }
  & .swSlide__h1,
  .swSlide__p {
    color: red;
  }
}
.arrow {
  border: solid;
  color: black;
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
}
// color: var(--secondaryClr);
