@import 'variables';

.linkWrapper:focus .sushiAdv {
  @include shiftUp;
}

.sushiAdv {
  @extend %imgContainer;
  margin-bottom: 3%;
  padding-bottom: 10%;
  transition: ease 300ms;
}

.sushi_page__content {
  padding-bottom: 20px;
  margin-top: 0.2%;

  @media (max-width: 768px) {
    padding-bottom: 0;
  }
}

.sushi_page__content img {
  width: 100%;
  border-radius: $imagesBR;
}
.sushi_page__menuButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sushi_page__menuButtons .active {
  color: black;
  background-color: $linesColor;
}
.sushi_page__menuButtons button:hover {
  color: black;
  background-color: $linesColor;
  transition: ease 600ms;
}
.sushi_page__menuButtons button {
  border: 2px solid;
  outline: none;
  margin: 1% 0;
  padding: 4% 0 4% 3%;
  &:first-child {
    margin-top: 0;
  }
  @media (max-width: 1200px) {
    font-size: 85%;
  }
  @media (max-width: 992px) {
    font-size: 70%;
  }
}

.swiper-container-sushi {
  height: auto;
  cursor: grab;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;
}
.swiper-container-sushi > .swiper-pagination-bullets {
  margin: 0 10px 20px 0;
}
.swiper-pagination-fraction {
  color: black;
  @media (max-width: 1200px) {
    font-size: 90%;
  }
  @media (max-width: 992px) {
    font-size: 80%;
  }
}

@media (max-width: 767.8px),
  (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .popper__sushi li {
    min-height: 6vw !important;
  }

  .sushi_page__content {
    margin: 2.1vw auto;
  }

  .swiper-button-next {
    right: 2px !important;
  }
  .swiper-button-prev {
    left: 2px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      font-size: xx-large;
    }
  }
  .swiper-pagination-fraction {
    bottom: 2px !important;
    font-size: $paragraphsFS;
    span {
      font-size: $paragraphsFS;
    }
  }
}
