.linkWrapper:focus .sushiAdv {
  @include shiftUp;
}

.sushiAdv {
  margin-bottom: 3%;
  padding-bottom: 10%;
  transition: ease 300ms;
  @extend %imgContainer;
}

.sushi_page__content {
  padding-bottom: 20px;
  margin-top: 0.2%;
  @media #{$mediaQueryMobile} {
    padding-bottom: 0;
  }
}

.sushi_page__content img {
  width: 100%;
  border-radius: $imagesBR;
}
.sushi_page__menuButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sushi_page__menuButtons .active {
  color: var(--mainClr);
  background-color: var(--secondaryClr);
}
// .sushi_page__menuButtons button:hover {
//   color: var(--mainClr);
//   background-color: var(--secondaryClr);
//   transition: ease 600ms;
// }
.sushi_page__menuButtons button {
  border: 2px solid;
  outline: none;
  margin: 1% 0;
  padding: 5% 2%;
  font-size: 1rem;
  &:first-child {
    margin-top: 0;
  }
  @media (max-width: 1200px) {
    font-size: 0.85rem;
  }
  @media (max-width: 992px) {
    font-size: 0.7rem;
  }
}

.swiper-container-sushi {
  height: auto;
  cursor: grab;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--mainClr);
}
.swiper-container-sushi > .swiper-pagination-bullets {
  margin: 0 10px 20px 0;
}
.swiper-pagination-fraction {
  color: var(--mainClr);
  @media (max-width: 1200px) {
    font-size: 0.9rem;
    span {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 992px) {
    font-size: 0.8rem;
    span {
      font-size: 0.8rem;
    }
  }
}

@media #{$mediaQueryMobile} {
  .popper__sushi li {
    padding: 1.5vw 0;
    // min-height: 8vw !important;
  }

  .sushi_page__content {
    margin: 2.1vw auto;
  }

  .swiper-button-next {
    right: 2px !important;
  }
  .swiper-button-prev {
    left: 2px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      font-size: xx-large;
    }
  }
  .swiper-pagination-fraction {
    bottom: 2px !important;
    font-size: $mobileParagraphsFS;
    span {
      font-size: $mobileParagraphsFS;
    }
  }
}
