.linkWrapper:focus .sushiAdv {
  @include shiftUp;
}

.sushiAdv {
  margin-bottom: 3%;
  padding-bottom: 10%;
  transition: ease 300ms;
  @extend %imgContainer;
}

.sushi_page__content {
  padding-bottom: 20px;
  margin-top: 0.2%;
  @media #{$mediaQueryMobile} {
    min-height: 90vw;
    padding-bottom: 0;
    min-height: 95vw;
  }
}

.sushi_page__img {
  width: 100%;
  border-radius: $imagesBR;
}
.sushi_page__menuButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sushi_page__menuButtons .active {
  color: var(--mainClr);
  background-color: var(--secondaryClr);
}
.sushi_page__menuButtons button {
  border: 2px solid;
  outline: none;
  margin: 1% 0;
  padding: 5% 2%;
  font-size: 1rem;
  &:first-child {
    margin-top: 0;
  }
  @media ($mediaQuery1200) {
    font-size: 0.85rem;
  }
  @media ($mediaQuery992) {
    font-size: 0.7rem;
  }
}

//------------------------------
.sushiGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  row-gap: 1.2rem;
  column-gap: 1.2rem;
  justify-content: space-evenly;
  @media ($mediaQuery1200) {
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
  }
  @media ($mediaQuery992) {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    row-gap: 0.8rem;
    column-gap: 0.8rem;
  }
  @media #{$mediaQueryMobile} {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    row-gap: 1.8vw;
    column-gap: 1.8vw;
  }
  @media ($mediaQuery530) {
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  }
}

.sushiGrid__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 0 1rem 0.5rem 1rem;
}

.sushiGrid__imgCont {
  align-self: center;
  position: relative;
  max-width: 225px;
  width: 100%;
  padding-bottom: 62%;
}

.sushiGrid__img {
  position: absolute;
  // align-self: center;
  // max-width: 225px;
  width: 100%;
  height: 100%;
}

.loading {
  background-image: url('../images/preloader.webp');
  background-size: cover;
}

.sushiGrid__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  height: 100%;
  @media #{$mediaQueryMobile} {
    row-gap: 1.3vw;
  }
  h3 {
    text-align: center;
    margin: 0;
    font-size: 1.55rem;
    font-weight: 400;
    color: black;
    @media ($mediaQuery1200) {
      font-size: 1.3rem;
    }
    @media ($mediaQuery992) {
      font-size: 1.1rem;
    }
    @media #{$mediaQueryMobile} {
      font-size: 2.5vw;
    }
    @media ($mediaQuery530) {
      font-size: 3vw;
    }
  }
  p {
    margin: 1rem 0 0 0;
    color: black;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    @media ($mediaQuery1200) {
      font-size: 0.9rem;
    }
    @media ($mediaQuery992) {
      font-size: 0.8rem;
    }
    @media #{$mediaQueryMobile} {
      font-size: 1.9vw;
      margin-top: 1.2vw;
    }
    @media ($mediaQuery530) {
      font-size: 2.3vw;
    }
  }
}

.sushiGrid__title {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

//------------------------------

@media #{$mediaQueryMobile} {
  .popper__sushi li {
    padding: 2.2vw 0;
  }

  .sushi_page__content {
    margin: 2.5vw auto;
  }
}
