@import "variables";

.swiper-bottom {
  padding: 0.5px 0 0 0;
  width: 100%;
  background-color: black;
  border-top: solid 5px white;
  cursor: grab;
  @media (max-width: 992px) {
    border-top: solid 2px white;
  }

  .swiper-wrapper {

    .swiper-slide {
      text-align: left;
      font-size: 14px;
      background: black;

      img {
        width: 100%;
      }
      h1 {
        font-size: 140%;
        font-weight: bold;
        padding-left: 2%;
        @media (max-width: 1200px) {
          font-size: 115%;
        }
        @media (max-width: 992px) {
          font-size: 87%;
          margin: 5% 0 4% 0;
        }
      }
      p {
        padding-left: 2%;
        letter-spacing: 0.02em;
        font: normal 100% 'century gothic', arial;
        @media (max-width: 1200px) {
          font-size: 78%;
        }
        @media (max-width: 992px) {
          font-size: 68%;
        }
      }
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #d8d1d1;
          transition: all 0.3s;
          cursor: pointer;
        }
      }
    }
  }
}

//.slides_3 {
//  img {
//    height: 400px;
//    @media (max-width: 1200px) {
//      height: 330px;
//    }
//    @media (max-width: 992px) {
//      height: 250px;
//    }
//  }
//}

