.bottomSwiper__bar {
  margin: 2% 0 10px 20px;
  @extend %desktopTitlesFS;
  @media #{$mediaQueryMobile} {
    display: none;
  }
}

.bottomSwiper {
  min-height: 462px;
  @media ($mediaQuery1200) {
    min-height: 380px;
  }
  @media ($mediaQuery992) {
    min-height: 290px;
  }
  @media #{$mediaQueryMobile} {
    display: none;
  }
}

.bottomSwiper__border {
  border-top: $border5px;
  margin-left: -1px;
  @media ($mediaQuery992) {
    border-top: $border3px;
  }
  @media #{$mediaQueryMobile} {
    display: none;
  }
}

.bottomSwiper__container {
  width: 100%;
  cursor: grab;
}

.bottomSwiper img {
  width: 100%;
}
.bottomSwiper h1 {
  padding: 0 1% 0 2%;
  margin: 3% 0;
  font-size: 1.8rem;
  @media ($mediaQuery1200) {
    font-size: 1.5rem;
  }
  @media ($mediaQuery992) {
    font-size: 1.2rem;
  }
}
.bottomSwiper p {
  padding-left: 2%;
  margin-bottom: 1.5%;
  @extend %desktopParagraphsFS;
}
.bottomSwiper a {
  text-decoration: none;
}
