$jostFont: 'Jost', sans-serif;
// $linesColor: #ebece9;
$imagesBR: 10px;
$buttonsBR: 30px;
$border1px: solid 1px var(--secondaryClr);
$border2px: solid 2px var(--secondaryClr);
$border3px: solid 3px var(--secondaryClr);
$border5px: solid 5px var(--secondaryClr);

// Переменные для мобильной версии
$mediaQueryMobile: '(max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2)';
$mobileParagraphsFS: 2.4vw;
$mobileTitlesFS: 3.2vw;

// Переменные сайта для слабовидящих
// Цветовые темы
$blackWhiteBackground: black;
$blackWhiteElements: #ebece9;

$whiteBlackBackground: #ebece9;
$whiteBlackElements: black;

$blackRedBackground: black;
$blackRedElements: #ab1919;

$yellowBrownBackground: #f5dda1;
$yellowBrownElements: #810026;

$blueGreenBackground: #b4e5ee;
$blueGreenElements: #5e4005;

// Переиспользуемые классы
// Контейнер для изображений, который держит форму
%imgContainer {
  position: relative;
  width: 100%;
  border: $border1px;
  border-radius: $imagesBR;
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media #{$mediaQueryMobile} {
  %imgContainerXs {
    position: relative;
    width: 100%;
    border: $border1px;
    border-radius: $imagesBR;
    overflow: hidden;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

%desktopTitlesFS {
  font-size: 2.5rem;
  @media (max-width: 1200px) {
    font-size: 2rem;
  }
  @media (max-width: 992px) {
    font-size: 1.65rem;
  }
}

%desktopParagraphsFS {
  font-size: 1.2rem;
  @media (max-width: 1200px) {
    font-size: 1.05rem;
  }
  @media (max-width: 992px) {
    font-size: 0.9rem;
  }
}

%desktopBorders {
  border: $border5px;
  @media (max-width: 992px) {
    border: $border3px;
  }
}
