$lusidaFont: Lucida Console, monospace;
$arialFont: Arial Black, sans-serif;

$linesColor: #dcdcdc;
$border1px: solid 1px #dcdcdc;
$border2px: solid 2px #dcdcdc;
$border3px: solid 3px $linesColor;
$border5px: solid 5px $linesColor;

