$lusidaFont: Lucida Console, monospace;
$arialFont: Arial Black, sans-serif;
$robotoFont: 'Roboto', sans-serif;
$jostFont: 'Jost', sans-serif;

$linesColor: #ebece9;
$imagesBR: 10px;
$buttonsBR: 30px;
$border1px: solid 1px;
$border2px: solid 2px;
$border3px: solid 3px;
$border5px: solid 5px;

//для мобильной версии
$mediaQueryMobile: '(max-width: 767.8px), (max-height: 500px) and (-webkit-min-device-pixel-ratio: 2)';
$paragraphsFS: 2.4vw;
$titlesFS: 3.2vw;

// Переменные сайта для слабовидящих
// Цветовые темы
$blackWhiteBackground: black;
$blackWhiteElements: #ebece9;

$whiteBlackBackground: #ebece9;
$whiteBlackElements: black;

$blackRedBackground: black;
$blackRedElements: #df233e;

$yellowBrownBackground: #f5dda1;
$yellowBrownElements: #810026;

$blueGreenBackground: #b4e5ee;
$blueGreenElements: #5e4005;

//Переиспользуемые классы
%imgContainer {
  position: relative;
  width: 100%;
  border: $border1px;
  border-radius: $imagesBR;
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media #{$mediaQueryMobile} {
  %imgContainerXs {
    position: relative;
    width: 100%;
    border: $border1px;
    border-radius: $imagesBR;
    overflow: hidden;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

%titlesFS {
  font-size: 2.5rem;
  @media (max-width: 1200px) {
    font-size: 2rem;
  }
  @media (max-width: 992px) {
    font-size: 1.65rem;
  }
}

%desktopP_FS {
  font-size: 1.2rem;
  @media (max-width: 1200px) {
    font-size: 1.05rem;
  }
  @media (max-width: 992px) {
    font-size: 0.9rem;
  }
}
